<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Error page</title>

    <style>
        body {
            background-color: #292b2c; /* Dark gray background */
            color: #fff; /* White text */
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        h1, h2 {
            text-align: center;
        }

        h1 {
            margin-top: 100px;
        }

        h2 {
            margin-top: 20px;
        }
    </style>


</head>
<body>

<h1>Error Occurred</h1>
<h2>Message: {{ message }}</h2>
</body>
</html>